.future-products {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.future-product {
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;
  cursor: pointer;
}

.future-product-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.future-product-inner h4 {
  font-weight: var(--weight-regular);
}
.future-product-inner span svg {
  width: 44px;
  height: 44px;
}

.expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.expandable-content.expanded {
  max-height: 600px;
}
.expandable-content .content-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-top: 24px;
}

.future-product-image {
  max-height: 500px;
}
.future-product-image img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .expandable-content .content-inner {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-items: end;
  }
}
