.primary-btn {
  background-color: var(--color-primary);
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  font-size: 16px;
  max-width: 250px;
  cursor: pointer;
}

.section-btn {
  padding: 12px 8px;
  border-radius: 12px;
  background-color: var(--light-secondary);
  color: var(--color-secondary);
  border: none;
  padding: 8px 24px;
  text-transform: uppercase;
  font-weight: var(--weight-medium);
  letter-spacing: 1px;
}

.see-product-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  color: var(--dark-primary);
}

.icon-container {
  background-color: #ccff00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.arrow {
  font-size: 1.2rem;
  color: var(--dark-primary);
}

.text {
  position: relative;
  font-weight: var(--weight-medium);
  color: var(--light-primary);
}

.text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: #ccff00;
  transition: 300ms;
}

@media (min-width: 992px) {
  .text:hover::after {
    width: 100%;
  }

  .text:not(:hover):after {
    right: 0;
    left: auto;
  }

  .icon-container:hover {
    transform: rotate(0);
  }
}
