.about-leadership {
  text-align: left;
  background-color: var(--dark-secondary);
}

.leaders {
  margin-top: var(--spacing-s40);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s24);
}

.about-leadership p {
  max-width: 550px;
}

.leader h6 {
  font-weight: var(--weight-semibold);
}

@media (min-width: 768px) {
  .leaders {
    flex-direction: row;
    gap: var(--spacing-s32);
  }
}


